extends layout

block content
  .container
    .row
      .col-md-12.col-lg-12.col-xs-12.center-block
        .page-header
          h1
            | stdin.net &nbsp;
            small
              span.glyphicon.glyphicon-refresh#Refresh
              span &nbsp;
              span.glyphicon.glyphicon-random#Random
              span &nbsp;

              .pull-right
                ul
                  li
                    a(href="/public/docs")
                      | Document
                  li
                    a(href="/public/apidocs/index.html")
                      | API Document


      #Navigation.col-md-12
        .input-group
          input#FindQuery.form-control(type="text",
            placehoder="Search URL or Input Feed URL"
          )
          span.input-group-btn
            button.btn.btn-primary#Find
              span.glyphicon.glyphicon-search
              |  Find

      #Pages.col-md-12(style="padding-top:15px")
        .text-center
          img(src="/public/image/loading.gif",style="padding-top:70px")
          h3 Loading
