// パネル（記事）
.panel.panel-default
  .panel-heading
    h5.panel-title
      a(target="_blank",href="{{article.link}}")
        {{article.title}}
      span.pull-right
        {{feed.feed.title}}
      span.pull-left
        a(href="/api/page/{{_id}}/similar")
          | ☆
