// パネル（記事）
.panel.panel-default
  .panel-heading
    h5.panel-title
      a(target="_blank",href="{{article.link}}")
        {{article.title}} &nbsp;
      button.btn.btn-info.Similar(id="{{_id}}")
        span.glyphicon.glyphicon-filter
        |  Go

      span.pull-right
        {{feed.feed.title}}

