// パネル（記事）
.panel.panel-default
  .panel-heading
    h5.panel-title
      a(target="_blank",href="{{article.link}}")
        | {{article.title}} &nbsp;
      small(data-livestamp="{{timestamp}}")
        | &nbsp;

      span.pull-right
        | {{feed.feed.title}}

